body  {
  font-size: 1rem;
  background-color: #FFFEF5; /* background color */
  margin: auto;
  width: 90vw;
}

/*BEGIN NAV*******************************************************************************/
header {
  margin-bottom: 0rem;
  margin-top: 5vh;
  text-align: left;
}

.mainheader,#acltitle{
  margin: auto;
  display: block;
  margin-left: 30vw;
}

#acltitle {
  font-style: italic;
  margin-top: 0;
  margin-bottom: -.3rem;
  font-size: 5rem;
}

h2 {
  color: #CBDD37; /*vibrantgreen*/
  margin: 0;
  font-size: 2.5rem;
}

#comment1 {
  font-size: .8rem;
  margin-bottom: -.3rem;
}

#comment2 {
  font-size: .8rem;
  margin-top: -.3rem;
}

header span {

}

.navBar {
  background-color: #77D951; /*navbar green */
  margin-top: 5vh;
  border-radius: .2em;
  border: .2rem black dotted;
}

.navBar ul {
  list-style-type: none;
  padding: 1em;
  margin: 0;
}

.navBar ul li {
  float: inherit;
  display: inline-table;
  margin-left: 7.5%;
  margin-right: 7.5%;
  font-size: 1.5em;
  font-weight: bolder;
  color: #FFFEF5; /* background color */
  line-height: 1.5em;
}

.navBar ul li:hover {
  float: inherit;
  display: inline-table;
  margin-left: 7.5%;
  margin-right: 7.5%;
  font-size: 1.5em;
  font-weight: bolder;
  color: green;
  background-color: #FFFEF5; /* background color */
  line-height: 1.5em;
}

/*END NAV*******************************************************************************/

/*BEGIN BODY*******************************************************************************/

body section h1 {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 0;
  font-size: 4rem;
  font-style: none;
  border-bottom: .3rem black dotted;
  padding-bottom: .5rem;
}

body section h2 {
  text-align: center;
  font-style: none;
  margin-top: 0;
  color: #FF794D; /* vibrant red*/
  font-size: larger;
  padding-top: .5rem;
}

#comment3 {
  font-size: smaller;
  text-justify: center;
}

.elist {
  background-color: lightgray; /* background color */
  padding: .3rem;
  width: 30vw;
  margin: auto;
  border-radius: .25em;
  border: 2px double black;
}

.elist li {
  display: inline;
}

#li2 {
  background-color: #FF794D; /* vibrant red*/
  float: right;
  border-radius: inherit;
  padding: .1rem;
}
#comment4 {
  text-align: center;
  margin-top: 5vh;
  font-weight: bolder;
}

img {
  display: block;
  margin: 0 auto;
  border: 10px black double;
  border-radius: 4%;
}
